.dashboard {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.deckList {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.deck {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  margin: auto;
}

.dashboardButton {
  display: flex;
  margin: auto;
}

.playerPicture {
  background-color: gray;
}